body {
  margin-left: 160px !important;
}

div.container {
  padding: 25px 10px 150px 10px;
}

.center {
  margin-left: auto !important;
  margin-right: auto !important;
}

/*----- Typography -----*/

* {
  font-family: 'Open Sans', sans-serif;
}
p, table {
  font-size: 13px !important;
}
a:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: 0.5px;
}

/*----- Forms & Inputs -----*/

label {
  color: #9e9e9e !important;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
small {
  padding-top: 5px;
  color: #9e9e9e !important;
  font-size: 12px;
}
select:hover {
  cursor: pointer;
}
input.form-control {
  height: 38px;
}
input.form-control-sm, button.btn-sm {
  height: 31px;
}

input[type="text"],
input[type="email"],
input[type="password"],
select,
textarea {
  font-size: 13px !important;
  border-color: #e0e0e0 !important;
  background-color: #fafafa !important;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
textarea:focus {
  background-color: white !important;
  outline: none !important;
  box-shadow: none !important;
  border: 1px solid #bdbdbd !important;
}

select:focus {
  outline: none !important;
  box-shadow: none !important;
}

input[type="text"]:disabled,
input[type="email"]:disabled,
input[type="password"]:disabled,
select:disabled,
textarea:disabled {
  color: #9e9e9e;
  border-color: #e0e0e0 !important;
  background-color: #eeeeee !important;
}

::placeholder {color: #A9A7A7 !important; font-size: 13px; }
:-moz-placeholder { color: #A9A7A7 !important; font-size: 13px; } /* FF 4-18 */
::-moz-placeholder { color: #A9A7A7 !important; font-size: 13px; } /* FF 19+ */
:-ms-input-placeholder { color: #A9A7A7 !important; font-size: 13px; } /* IE 10+ */
::-ms-input-placeholder { color: #A9A7A7 !important; font-size: 13px; } /*MS Edge*/

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder { color: transparent !important; }
input:focus:-moz-placeholder, textarea:focus:-moz-placeholder { color: transparent !important; } /* FF 4-18 */
input:focus::-moz-placeholder, textarea:focus::-moz-placeholder { color: transparent !important; } /* FF 19+ */
input:focus:-ms-input-placeholder, textarea:focus:-ms-input-placeholder { color: transparent !important; } /* IE 10+ */

form.form {
  margin-top: 20px;
  background-color: white;
  border: 1px solid #e0e0e0;
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
}

/*----- Buttons -----*/

.btn {
  font-weight: 600;
  letter-spacing: 0.5px;
  transition: 0.2s;
  font-size: 14px !important;
}

button.btn-primary,
input.btn-primary,
a.btn-primary {
  background-color: #0073cf;
  border-color: #0073cf;
}
button.btn-primary:hover,
input.btn-primary:hover,
a.btn-primary:hover {
  background-color: #0060ad;
  border-color: #0060ad;
}
button.btn-primary:focus,
button.btn-primary:active,
input.btn-primary:focus,
input.btn-primary:active,
a.btn-primary:focus,
a.btn-primary:active {
  outline: none !important;
  box-shadow: 2px 2px 8px #9e9e9e !important;
  background-color: #0060ad !important;
  border-color: #0060ad !important;
}
button.btn-sm, a.btn-sm, input.btn-sm {
  font-size: 13px !important;
}
button.btn-lg, a.btn-lg {
  font-size: 20px !important;
}
a.btn-outline-primary {
  transition: 0.4s;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-color: #0073cf;
  color: #0073cf;
}
a.btn-outline-primary:hover {
  background-color: #0073cf;
  border-color: #0073cf;
}
a.btn-outline-primary:focus, a.btn-outline-primary:active {
  outline: none !important;
  box-shadow: 2px 2px 8px #9e9e9e !important;
  background-color: #0073cf !important;
  border-color: #0073cf !important;
}

div.btn-group a {
  color: #9e9e9e;
  font-weight: 600;
}

div.btn-group a:hover {
  color: #0073cf;
}


/*----- Tables -----*/

table {
  border: 1px solid #e0e0e0;
}

th {
  text-align: center;
  font-weight: 700;
  white-space: nowrap;
  background-color: rgba(0,115,207,0.8);
  color: white;
  font-size: 14 !important;
}

.table td, .table th {
  vertical-align: middle !important;

}

.table-striped tbody tr:nth-child(even) td,
.table-striped tbody tr:nth-child(even) th {
 background-color: #fafafa;
}
.table-striped tbody tr:nth-child(odd) td,
.table-striped tbody tr:nth-child(odd) th {
  background-color: white;
}


/*----- Footer -----*/

.footer-basic-centered {
  background-color: #fafafa;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
  margin-top: 80px;
  position: absolute;
  bottom: 0px !important;
  margin-bottom: 0px !important;
}

.footer-basic-centered p.footer-company-name {
  color: #9e9e9e;
  opacity: 0.8;
  font-size: 14px !important;
  font-weight: 400;
  margin: 0;
}


/*----- Side Navbar -----*/

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fafafa;
  overflow-x: hidden;
  padding-top: 20px;
}

li.nav-item a.nav-link {
  padding: 10px 8px 10px 12px;
  text-decoration: none;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: left;
  letter-spacing: 1px;
  color: #9e9e9e;
  display: block;
  transition: all 0.2s;
}

p.footer {
  padding: 10px 8px 10px 12px;
  font-size: 13px;
  font-weight: 400;
  opacity: 0.7;
  text-align: center;
  color: #9e9e9e;
  display: block;
  position: absolute;
  bottom: 0px;
}

li.nav-item a.nav-brand {
  font-family: 'Bree Serif', serif;
  letter-spacing: 1px;
  padding: 10px 8px 20px 12px;
  text-decoration: none;
  display: block;
  transition: all 0.2s;
  font-size: 22px;
  color: #0073cf;
  text-align: center;
}

li.nav-item a.nav-brand:hover {
  color: #0073cf;
  background-color: transparent;
}

li.nav-item a.nav-link:hover {
  color: #0073cf;
  background-color: #e2e6ea;
}

.dropdown-toggle::after {
  border: none !important;
}

a.dropdown-item {
  font-size: 13px;
}
